@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add common styles here */
* {
  box-sizing: border-box !important;
}
/* Dark theme styles */
body {
  /* Add dark theme styles here */
  background-color: #06002e !important;
  /* background-color: #0f172a !important; */
  color: #ffffff;
}

.container-one {
  max-width: 1150px !important;
  margin: auto !important;
}

.shocase__body {
  width: 1400px !important;
  margin: auto !important;
}

/* Hide the scrollbar while keeping the content scrollable */
.scrollbar-none::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.writing-mode-vertical {
  writing-mode: vertical-lr; /* Vertical writing mode from top to bottom */
  transform: rotate(180deg); /* Rotate the text to face the right side */
  white-space: nowrap; /*/* Allow upright and sideways text */
}

p {
  font-size: 1.1rem !important;
  font-weight: 400 !important;
}
.build__header {
  height: 210px !important;
}

@media (min-width: 400px) {
  p {
    font-size: 1.4rem !important;
    font-weight: 400 !important;
  }
}

@media (masx-width: 992px) {
}

@media (min-width: 992px) {
  .build:nth-child(2) .build__header {
    display: grid;
    order: 2;
  }
  .build:nth-child(4) .build__header {
    display: grid;
    order: 2;
  }
  .build__header {
    max-width: 560px !important;
    margin: auto;
    height: 250px !important;
  }
}
