@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add common styles here */

/* Dark theme styles */
body {
  /* Add dark theme styles here */
  background-color: #0f172a !important;
  color: #ffffff;
}

.container-one {
  max-width: 1150px !important;
  margin: auto !important;
}

/* Hide the scrollbar while keeping the content scrollable */
.scrollbar-none::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.writing-mode-vertical {
  writing-mode: vertical-rl; /* Vertical writing mode from right to left */
}
